* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Section 1.0 - Navbar */

header {
  background-color: rgb(243, 243, 243);
}

li {
  list-style: none
;}

a {
  text-decoration: none;
  color: rgb(231, 231, 231);
}

.common-margin {
  margin: 0 14%;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navbar a {
  color: black;
}

.navbar a span {
  color: green;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-branding p {
  font-size: 1.5rem;
}

.nav-branding p i {
  color: dodgerblue;
  text-shadow: rgb(190, 221, 255) 1px 1px 5px;
}

.nav-link{
  transition: 0.3s ease;
}

.nav-link:hover{
  color: darkgreen;
}
/* Section 2 - Showcase */

#showcase {
  height: 50vh;
  width: 100%;
  display: flex;
}

.showcase-product {
  background-color: rgb(255, 211, 211);
  width: 50%;
}

.showcase-column {
  background-color: aquamarine;
  width: 22%;
}

/* Section 3 - Products showcase*/

#products {
  height: 40vh;
  background-color: beige;
  display: flex;
}

.product-shelf {
  background-color: rgb(205, 255, 255);
  width: 17%;
  height: inherit;
}

.product-shelf:nth-child(odd) {
  background-color: aqua;
}

/* Section 4 - Footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: black;
  height: 4rem;
}
/* Section 1.1 - Navbar hamburger menu*/

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: green;
}

